#navigation-container {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    height: 80px;   
    align-items: center;
}

.navigation-button {
    flex: 1; 
    text-decoration: none;
    color: black;
    font-family: Gilroy-Regular;
    letter-spacing: 0.04em;
    text-align: center;
    padding-left: 20px;
}

.navigation-button-selected {
    font-family: Gilroy-Bold;
    color: #0091BA; 
}

.navigation-button:hover {
    font-family: Gilroy-Medium;
}

#navigation-gap {
    flex: 3; 
}

#ck-logo {
    flex: 1;
    max-height: 35px;
    max-width: 90px; 
}

@media screen and (max-width: 450px) {
    #navigation-gap {
        flex: 0; 
    }
    .navigation-button {
        font-size: 12px; 
    }
}