#navigation-container {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    height: 70px;   
    align-items: center;
}

#navigation-button {
    flex: 1; 
    text-decoration: none;
    color: black;
    font-family: Gilroy-Regular;
    letter-spacing: 0.04em;
    text-align: center;
}

#navigation-button:last-child{
    font-family: Gilroy-Bold;
    color: #0091BA; 
}

#navigation-button:hover {
    font-family: Gilroy-Medium;
}

#navigation-gap {
    flex: 3; 
}

#ck-logo {
    flex: 1;
    max-height: 35px;
    max-width: 90px; 
}

ul {
    padding: 0;
    list-style: none;
}