.main-area-container {
    display: flex; 
    width: 80%;
    padding-left: 10%; 
    padding-right: 10%; 
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sponsor-info-container {
    flex: 2; 
    margin-top: 5%;
    padding: 2%; 
    box-shadow: 0px 20px 40px #EDEBEB;
    border-radius: 15px; 
    align-self: center;
    min-width: 300px;
    display: flex; 
}

.sponsor-info-img-text-container {
    flex: 4; 
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsor-info-img {
    width: 90%; 
    min-width: 150px; 
    height: auto; 
    border-radius: 15px;
    box-shadow: 0px 10px 20px #EDEBEB;
}

.sponsor-info-text {
    min-width: 150px;
    padding: 3%; 
    align-self: center; 
    text-align: center;
}
.sponsor-info-text h1 {
    font-family: Gilroy-Bold;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: .03em;
}

.sponsor-info-text p {
    font-family: Gilroy-Regular; 
    font-size: 16px;
    letter-spacing: .03em;
}

@media screen and (max-width: 450px) {

    .sponsor-info-text p {
        font-size: 12px; 
    }

  }


