.main-area-container {
    display: flex; 
    width: 80%;
    padding-left: 10%; 
    padding-right: 10%; 
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sponsor-info-container {
    margin-top: 5%;
    align-self: center;
    flex: 2; 
    min-width: 300px;
    display: flex; 
    flex-direction:column;
    align-items: center;
}

.sponsor-info-text-img-container {
    display: flex; 
    justify-content: space-between;
}

.sponsor-info-img {
    width: 60%; 
    border-radius: 15px;
    box-shadow: 0px 10px 20px #EDEBEB;
}

.sponsor-info-text {
    width: 40%; 
    min-width: 130px;
    padding-left: 3%;
    padding-right: 3%;
    align-self: center; 
    text-align: center;
}
.sponsor-info-text h1 {
    font-family: Gilroy-Medium;
    font-size: 24px;
    letter-spacing: .03em;
}

.sponsor-info-text p {
    font-family: Gilroy-Regular; 
    font-size: 16px;
    letter-spacing: .03em;
}

@media screen and (max-width: 450px) {

    .sponsor-info-text p {
        font-size: 12px; 
    }

  }


