.outline-box {
    padding-top: 3%;
    color: #808080;
}
.outline-text {
    width: 75%;
    font-family: Gilroy-Regular;
    color: #000000;
    line-height: 230%;
    padding-left: 4%;
    letter-spacing: 0.05em;
    font-size: 16px; 
    border:solid 1px #808080;
    border-radius: 10px;
}

.outline-text::placeholder {
    color: #808080;
}

.outline-text:focus {
    border: solid 2px #06B085;
    outline-style: none;
}

@media screen and (max-width: 450px) {

    .outline-text {
        font-size: 12px; 
    }
  }