@font-face {
    font-family: 'Gilroy-Regular';
    src: local('Gilroy-Regular'), url(./fonts/Gilroy-Regular.tff) format('truetype')
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), url(./fonts/Gilroy-Bold.tff) format('truetype')
}

@font-face {
    font-family: 'Gilroy-Heavy';
    src: local('Gilroy-Heavy'), url(./fonts/Gilroy-Heavy.tff) format('truetype')
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'), url(./fonts/Gilroy-Medium.tff) format('truetype')
}

@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-LIght'), url(./fonts/Gilroy-Light.tff) format('truetype')
}

