.card-h1 {
  font-family: Gilroy-Medium;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  letter-spacing: 2px;
}

.card-p {
  font-family: Gilroy-Regular;
  font-size: 14px;
  text-align: center;
  letter-spacing: .03em;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  min-width: 200px; 
  border-radius: 50px;
  box-shadow: 0px 20px 40px  #EDEBEB;
  margin-bottom: 20px;
  padding: 20px;
}

.card-content-filler {
  flex: 1;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}