#card-container {
  font-family: Gilroy-Regular;
  background-color: white;
  padding: 4%;
  border-radius: 20px;
  box-shadow: 0px 20px 40px #EDEBEB;
  width: 35%;
  min-width: 260px;
  max-width: 400px; 
  align-self: center;
}

#card-container-h1 {
  font-family: Gilroy-Bold;
  font-size: 24px; 
  letter-spacing: 0.03em;
  color: #474747; 
  padding-bottom: 5%;

}

#card-container-p {
  color: #474747;
  font-family: Gilroy-Regular;
  letter-spacing: .03em;
  font-size: 16px;
  padding-bottom: 3%;
}

#card-container-fine-text-first {
  color: #808080; 
  padding-top: 3%; 
  font-size: 11px;
  letter-spacing: 0.03em;
}

#card-container-fine-text {
  color: #808080; 
  padding-top: 3%; 
  padding-bottom: 3%; 
  font-size: 11px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 450px) {
  #card-container {
    padding: 8%; 
    margin-top: 5%;
  }
}