.paddle-pledge-indicator {
    flex: 1; 
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.pledge-indicator {
    border-radius: 15px;
    border: none;
    width: 100%; 
    min-width: 70px;
    height: 40px;
    align-items: center;
    display: flex; 
    justify-content: center;
}

.pledge-indicator-text {
    font-family: Gilroy-Bold;
}

.pledge-indicator-text-selected {
    font-family: Gilroy-Bold;
    font-size: 28px;
    color: #06B085;
}

@media screen and (max-width: 501px) {

    .paddle-pledge-indicator {
        order: 4; 
    }

  }
